COMPOSE_PROJECT_NAME=reddit
USERNAME=takhmazyanvladimir
BACK_NET_SUBNET=10.0.2.0/24
FRONT_NET_SUBNET=10.0.1.0/24
MONGO_TAG=4.0.2
UI_TAG=1.0
POST_TAG=1.0
COMMENT_TAG=1.0
INTERNAL_PORT=9292
EXTERNAL_PORT=80
